# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

collect_data.py
annotate_data.py
fix_labels.py
convert_raw.py
review_labels.py
pre-eval.pdf

# Data (raw API responses are large) not including csv
data_raw/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
